.profile__sections{
    width: 100%;
    position: relative;
    font-family: var(--font-family);
    height: 0vh;
}
.profile__section {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100%;
    position: relative;
}
.profile__aside {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 0rem;
    background: var(--color-nav);
}
.profile__logo {
    display: flex;
    align-items: center;
  }
  .logo__icon {
    display: flex;
    align-items: center;
    background-color: var(--color-orange);
    border-radius: 1rem;
    padding: 0.1rem;
  }
  .logo__icon .icons {
    color: var(--color-white);
  }
  .profile__logo span {
    font-size: var(--font-fold);
    color: var(--color-white);
    font-weight: 500;
  }
.profile__asideContent .profile__logo {
    margin: 0.9rem 2rem;
}
.profile__images {
    display: flex;
    width: 100%;
    margin: 1rem 0rem;
    align-items: center;
    justify-content: center;
}
.profile__images img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}
.profile__asideContent {
    margin: 0rem 0rem;
}
.profilecon__bg {
    background: var(--color-white);
}
.profile__name {
    font-size: var(--font-fold);
    text-align: center;
    font-weight: 600;
    line-height: 30px;
    margin: 1.5rem 0rem;
    font-family: var(--font-family);
    color: var(--color-grey);
}
.profile__email {
    font-size: var(--font-logo);
    color: var(--color-grey);
    margin: 1.5rem 0rem;
}
.profile__Adsss{
    position: absolute;
    width: 100%;
    top: 5.5rem;

}

/* PROFILE CONTENT DIVS */
.employee__div {
    background: var(--color-white);
    height: 100vh;
    position: relative;
}
.employee__divs {
    background: var(--color-nav);
    padding: 1.5rem;
    
}
.board__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuBtn {
    display: none;

}
.greetings {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-white);
    text-transform: capitalize;
    font-weight: 600;
    font-size: var(--font-fold);
}
.greetings .menus {
    display: none;
}
.search {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}
.label {
    display: flex;
    gap: 0.6rem;
    position: relative;
    align-items: center;
}
.search label {
    color: var(--color-white);
    opacity: 0.4;
    font-weight: 400;
    font-size: var(--font-smallz);
    text-transform: uppercase;
}
.search img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}
.label img {
    position: absolute;
    width: 1rem;
    height: 1rem;
    object-fit: contain;
    right: 1rem;
}
.label input {
    width: 15rem;
    font-family: var(--font-family);
    font-size: var(--font-logo);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-nav);
    color: var(--color-nav);
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
}
.employees__detail {
    padding: 0rem;
    overflow-y: scroll;
}

@media screen and (max-width: 480px) {
    .employee__divs {
        padding: 1.5rem 1rem;
    }
    .label input {
        width: 10rem;
        padding: 0.5rem 0.5rem;
    }
    .employees__detail {
        padding: 0rem;
        /* overflow-y: scroll; */
    }
    .profile__section {
        grid-template-columns: 100%;
        position: relative;
    }
    .profile__aside{
        display: none;
    }
    .profile__aside-mobile {
        height: calc(100vh - 4rem);
        width: 100%;
        padding: 0rem 0rem;
        top: 4.9rem;
        background-color: var(--color-nav);
        position: absolute;
        z-index: 9999;
    }
    .profile__aside-mobile .profile__asideContent .profile__logo {
        margin: 0.9rem 2.75rem;
    }
    .profile__aside-mobile .label input {
        width: 100%;
        border-radius: 5rem;
    }
    .greetings .menus {
        display: flex;
    }
    .greetings {
        gap: 0.6rem;
        font-weight: 600;
        font-size: var(--font-fold);
    }
    .search {
        display: none;
       
    }
}

@media  (min-width: 481px) and  (max-width: 767px) {
    .profile__section {
        height: 100vh;
        grid-template-columns: 100%;
        position: relative;
    }
    .profile__aside{
        display: none;
    }
    .profile__aside-mobile {
        height: 100vh;
        width: 50%;
        padding: 0rem 0rem;
        top: 5.3rem;
        background-color: var(--color-nav);
        position: absolute;
        z-index: 9999;
    }
    .profile__aside-mobile .profile__asideContent .profile__logo {
        margin: 0.9rem 2.75rem;
    }

    .profile__aside-mobile .label input {
        width: 100%;
        border-radius: 5rem;
    }
    .greetings .menus {
        display: flex;
    }
}
@media  (min-width: 768px) and  (max-width: 991px) {
    .profile__section {
        grid-template-columns: 100%;
    }
    .greetings .menus {
        display: flex;
    }
    .profile__aside{
        display: none;
    }
    .profile__aside-mobile {
        height: calc(100vh - 4rem);
        width: 50%;
        padding: 0rem 0rem;
        top: 5.2rem;
        background-color: var(--color-nav);
        position: absolute;
        z-index: 9999;
    }
    .profile__aside-mobile .profile__asideContent .profile__logo {
        margin: 0.9rem 2.75rem;
    }

    .profile__aside-mobile .label input {
        width: 100%;
        border-radius: 5rem;
    }
}
 @media (min-width: 992px) and (max-width: 1100px) {
    .profile__aside{
        display: none;
    }
    .profile__section {
        height: 100vh;
        grid-template-columns: 100%;
    }
    .profile__aside-mobile {
        height: 100vh;
        width: 40%;
        padding: 0rem 0rem;
        top: 5.2rem;
        background-color: var(--color-nav);
        position: absolute;
        z-index: 9999;
    }
    .greetings .menus{
        display: flex;
    }

} 

