.table {
     overflow-x: auto;
     height: calc(100vh - 7rem );
}
table {
     width: 100%;
     border-collapse: collapse;
     overflow-y: auto;  
}
th, td {
     padding: 1rem 1rem;
     text-align: left;
     border-bottom: 1px solid #ddd;
     text-transform: uppercase;
     font-weight: 700;
     font-size: var(--font-logo);
     color: var(--color-nav);
   }
.dev {
     padding-left: 0rem;
     cursor: pointer;
     display: flex;
     gap: 0.5rem;
     align-items: center;
}
.dev h3 {
     font-size: var(--font-logo);
     color: var(--color-nav);
     text-transform: capitalize;
     font-weight: 600;
}
.dev h3:hover {
     color: var(--color-orange);
}
.data__position {
     text-transform: capitalize;
     color: var(--color-nav);
     font-size: var(--font-logo);
     font-weight: 600;
}
.media {
     display: flex;
     gap: 1rem;
     font-size: var(--font-logo);
     cursor: pointer;
     font-weight: 600;
}
.pagination {
     padding: 0.5rem 0rem;
     display: flex;
     gap: 0.5rem;
     justify-content: center;
     align-items: center;
 }
 
@media screen and (max-width: 600px) {
     table {
          overflow-x: auto;
     }
     th, td {
       padding: 1rem;
       font-size: 12px;
     }
   }
   @media screen and (max-width: 400px) {
     
     th, td {
          padding: 1rem;

       font-size: 12px;
     }
   }

