 /* .confirm__div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    width: 100%;
    height: calc(100vh - 4.28rem);
}
.confirm__divs {
    display: flex;
    justify-content: center;
    background: var(--background);
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem 0.8rem 1rem;
    align-items: center;
    flex-direction: column;
}
.confirm__form .btnss {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.confirm__input {
    margin: 0.5rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.confirm__input input{
    outline: none;
    border: 1px solid var(--color-orange);
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.5rem 0rem;
    text-align: center;
    width: 100%;
}
.confirm__form .btnss button {
    outline: none;
    width: 100%;
   border-radius: 0.5rem;
   margin: 0.7rem 0rem;
   outline: none;
   padding: 0.5rem 0rem;
   border: none;
   color: var(--color-white);
   background: var(--color-orange);
}
.confirm__form {
    outline: none;
    margin: 1.5rem 0rem;
    width: 100%;
}
.confirm__div h1 {
    font-size: var(--font-folds);
    font-weight: 600;
}
.confirm__divs .confirm__content span {
    color: var(--color-orange);
    font-weight:  600;
}
.confirm__divs .confirm__content {
    font-size: var(--font-smalley);
    color: var(--color-orange);
    font-weight: 500;
    margin: 0.3rem 0rem;
    text-align: center;
}
.confirm__divs .confirm__divss {
    margin: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.verify__icon {
    border-radius: 5rem;
    padding: 1.2rem 1.2rem;
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    width: 2.2rem;
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow);
}
.confirm__form  small {
    text-align: center;
    font-size: var(--font-smalley);
    color: var(--color-nav);
    font-weight: 600;
}
.confirm__form  small span {
    color: var(--color-orange);
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 992px) {
    .confirm__divs {
        padding: 2rem 2rem 0.8rem 2rem;
        align-items: center;
        flex-direction: column;
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-smalleys);
    }
    .confirm__input input{
        font-size: var(--font-header);
        padding: 0.3rem 0rem;
    }
}
@media (min-width: 993px) and (max-width: 1024px) {
    .confirm__divs {
        padding: 2rem 2rem 0.8rem 2rem;
        align-items: center;
        flex-direction: column;
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-smalleys);
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-smalley);
        margin: 0.6rem 0rem;
    }
    .verify__icon {
        padding: 1rem 1rem;
        margin: 0.5rem 0rem;
        height: 1rem;
        width: 1rem;
    }   
}
@media (min-width: 391px) and (max-width: 480px) {
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }
    .confirm__divs {
        margin: 0rem 2rem;
    }
    .verify__icon {
        padding: 1rem 1rem;
        margin: 0.5rem 0rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}
@media (min-width: 281px) and (max-width: 390px) {
    .confirm__divs {
        margin: 0rem 2rem;
    }
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-small);
        margin: 0.3rem 0rem;
    }
    .verify__icon {
        padding: 1rem 1rem;
        margin: 0.5rem 0rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}
@media screen and (width: 280px) {
    .confirm__divs {
        margin: 0rem 1rem;
        padding: 2rem 0.8rem 0.8rem 0.8rem;
    }
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-small);
        margin: 0.3rem 0rem;
    }
    .verify__icon {
        padding: 1rem 1rem;
        margin: 0.5rem 0rem;
        height: 1.5rem;
        width: 1.5rem;
    }
} */
