 .confirm__div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
     width: 100%;
     height: calc(100vh - 4.28rem);
}
.confirm__divs {
    display: flex;
    justify-content: center;
    background: var(--background);
    border-radius: 0.3rem;
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
    align-items: center;
    flex-direction: column;
}
.confirm__form .btnss {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.confirm__input {
    margin: 0.7rem 0rem;;
    display: flex;
    justify-content: center;
    /* width: 60%; */
}
.confirm__input input{
    outline: none;
    border: 1px solid var(--color-orange);
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.5rem 0rem;
    text-align: center;
    width: 100%;
}
.confirm__form .btnss button {
    outline: none;
    width: 100%;
   border-radius: 0.5rem;
   margin: 0.7rem 0rem;
   outline: none;
   padding: 0.5rem 0rem;
   border: none;
   color: var(--color-white);
   background: var(--color-orange);
}
.confirm__form {
    outline: none;
    width: 100%;
}
.confirm__div h1 {
    font-size: var(--font-folds);
    font-weight: 600;
}

.confirm__divs .confirm__content span {
    color: var(--color-orange);
    font-weight:  600;
}
.confirm__divs .confirm__content {
    font-size: var(--font-smalley);
    color: var(--color-orange);
    font-weight: 500;
    margin: 0.3rem 0rem;
    text-align: center;
}
.verify__icon {
    border-radius: 5rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow);
}
.confirm__form  small {
    text-align: center;
    font-size: var(--font-smalley);
    color: var(--color-nav);
    font-weight: 600;
    /* margin: 0.7rem 0rem; */
}
.confirm__form  small span {
    color: var(--color-orange);
    cursor: pointer;
}
@media (min-width: 481px) and (max-width: 767px) {
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }

}

@media (min-width: 391px) and (max-width: 480px) {
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }
    .confirm__divs {
        margin: 0rem 2rem;
    }

}
@media (min-width: 281px) and (max-width: 390px) {
    .confirm__divs {
        margin: 0rem 2rem;
    }
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }

}

@media screen and (width: 280px) {
    .confirm__divs {
        margin: 0rem 1rem;
        padding: 2rem 0rem;
    }
    .confirm__div h1 {
        font-size: var(--font-smalley);
    }
    .confirm__div {
         height: calc(100vh - 3.5rem);
    }

}
/* .confirm__form  small {
    text-align: center;
    font-size: var(--font-fold);
    color: var(--color-nav);
    font-weight: 600;
   
} */
/* .confirm__div {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 100vh;
}
.confirm__divs {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.confirm__form {
    display: flex;
    
    flex-direction: column;
}
.verify__icon {
    border-radius: 5rem;
    padding: 2rem 2rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-orange);
    box-shadow: var(--box-shadow);
}
.verify__icons {
    color: var(--color-white);
}
.confirm__divs .confirm__content {
    font-size: var(--font-fold);
    color: var(--color-nav);
    font-weight: 500;
    margin: 0.9rem 0rem;
    font-weight: 500;
    text-align: center;
}
.confirm__div h1 {
    font-size: var(--font-headers);
    font-weight: 700;
    margin: 0.6rem 0rem;
}
.confirm__divs .confirm__content span {
    color: var(--color-orange);
    font-weight:  700;

}
.confirm__input {
    width: 100%;
    margin: 0.7rem 0rem;
     border: 1px solid var(--color-orange);
    background: var(--color-white);
    border-radius: 2rem;
    padding: 0.3rem 0rem;
    
}
.confirm__input input {
    border-radius: 2rem;
    border: transparent;
    margin: 0rem 1rem;
    background: transparent;
    background: var(--color-white);
    font-size: var(--font-fold);
    outline: none;
}
.confirm__form .btnss {
    width: 100%;
    height: 100%;
    margin: 0.3rem 0rem;
}
.confirm__form .btnss button {
    outline: none;
    width: 100%;
   border-radius: 2rem;
   margin: 0.7rem 0rem;
   padding: 0.7rem;
   border: none;
   color: var(--color-white);
   background: var(--color-orange);
   
}

.confirm__form  small {
    text-align: center;
    font-size: var(--font-fold);
    color: var(--color-nav);
    font-weight: 600;
    margin: 0.7rem 0rem;
}
.confirm__form  small span {
    color: var(--color-orange);
    cursor: pointer;
}
@media screen and (width: 280px) {
    .confirm__div h1 {
        font-size: var(--font-smalleys);
    }
    .confirm__divs .confirm__content {
        font-size: var(--font-logos);
        color: var(--color-nav);
        font-weight: 500;
        margin: 0.5rem 0rem;
        font-weight: 500;
        text-align: center;
    }
    .confirm__form .btnss button {
       margin: 0.7rem 0rem;
       padding: 0.7rem 0.5rem;

       
    }
    .confirm__input input {
        margin: 0rem 0.2rem;
    }
    .confirm__form small {
        text-align: center;
        font-size: var(--font-smalleys);
        color: var(--color-nav);
        font-weight: 600;
        margin: 0.6rem 0rem;
    }
    
}
 */
