.Ads__list {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 999;
    background: var(--color-white);
    /* display: none; */
    align-items: center;
    width: 100%;
    height: calc(100vh - 8rem);
    
}
.form__adslist{
   width: 100%;
   margin: 0rem 5rem;
}
.Ads__list .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0em 0rem;
    gap: 0rem;
    font-family: var(--font-family);
}
.grids .value__input {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}
.grids .value__input label {
    color: var(--color-nav);
    font-variant: --font-small;
    text-transform: capitalize;
}
.value__input .record__inputValue {
     width: 100%;
     border: 1px solid var(--color-yellow);
     border-radius: 0.4rem;
     font-style: normal;
    font-size: var(--font-logo);
     padding: 1rem 0rem;
}

.authorize {
    border: none;
    outline: none;
    padding: 0.43rem 1rem;
    color: var(--color-nav);
    font-weight: 600;
    border-radius: 0.1rem;
    background: var(--color-yellow);
}
@media (min-width: 280px) and (max-width: 380px) {
    .Ads__list .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .form__adslist{
        margin: 0rem 1.5rem;
     }
    .Ads__list {
        height: calc(100vh - 0rem);
        padding: 6rem 0rem;
        top: 0rem;
        
    }
}
@media (min-width: 381px) and (max-width: 480px) {
    .Ads__list .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .Ads__list {
        width: 100%;
        height: calc(100vh - 0rem);
    }
    .form__adslist{
        margin: 0rem 1.5rem;
     }

}

