
.record__divsAdmin {
    display: flex; 
    justify-content: center;
    align-items: center; 
    z-index: 15;
    height: calc(100vh - 5.0rem);
    position: relative;
    background-color: var(--color-yellow);
}
.record___Admindivs {
    width: 100%;
    height: 100%;
    margin: 0rem;padding: 0rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    align-items: center;
}
.recordadminpop {
    width: 100%;

}

.ads__modifys{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    height: calc(100vh - 10rem);
    top: 0rem;

}
.ads__modifiess {
    width: 100%;
    border-radius: 0.3rem;
    padding: 2rem 1rem;
    z-index: 999;
    height: 100vh;
    color: var(--color-nav);
    background-color: var(--color-white);
}
  

/* 
.form__adslist{
   width: 100%;
   margin: 0rem 5rem;
} */
.Ads__list .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0em 0rem;
    gap: 0rem;
    font-family: var(--font-family);
}
.grids .value__input {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}
.grids .value__inputs {
    display: flex;
    flex-direction: column;
    margin: 0.7rem;
}
.grids .value__input label {
    color: var(--color-white);
    font-variant: --font-small;
    text-transform: capitalize;
}
.grids .value__inputs label {
    color: var(--color-nav);
    font-variant: --font-small;
    text-transform: capitalize;
}
.value__input .record__inputValue {
     width: 100%;
     border-bottom: 1px solid var(--color-icon);
     border-radius: 0rem;
     color: var(--color-white);
     opacity: 0.7;
     font-style: normal;
    font-size: var(--font-logo);
     padding: 0.7rem 0rem !important;
}
.value__input .record__inputValues {
    width: 100%;
    border-bottom: 1px solid var(--color-icon);
    border-radius: 0rem;
    color: var(--color-nav);
    opacity: 0.7;
    font-style: normal;
   font-size: var(--font-logo);
    padding: 0.7rem 0rem !important;
}

.authorize {
    border: none;
    outline: none;
    padding: 0.43rem 1rem;
    color: var(--color-nav);
    font-weight: 600;
    border-radius: 0.1rem;
    background: var(--color-yellow);
}
@media (min-width: 280px) and (max-width: 390px) {
    .Ads__list .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .form__adslist{
        margin: 0rem 1.5rem;
     }
    .Ads__list {
        height: calc(100vh - 0rem);
        padding: 8rem 0rem;
        top: -0.5rem;
        top: 0rem;
        
    }
}
@media (min-width: 391px) and (max-width: 480px) {
    .Ads__list .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .Ads__list {
        width: 100%;
        height: calc(100vh - 3rem);
        top: -0.5rem;
        padding: 6rem 0rem;
    }
    .form__adslist{
        margin: 0rem 1.5rem;
     }

}

@media (min-width: 768px) and (max-width: 992px) {
    .Ads__list {
        display: flex;
        justify-content: center;
        position: absolute;
        top: -1rem;
        z-index: 999;
        background: var(--color-white);
        align-items: center;
        width: 100%;
        /* height: calc(vh - 3rem); */
        
    }
    

}

