.driverform__divs {
    display: flex;
    height: calc(100vh - 4.48rem);
    background: var(--color-white);
}
.driverform__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0rem 9rem;
    align-items: center;
    gap: 5rem;
    justify-items: center;
}
.driverform__images {
    display: flex;
    align-items: center;
    position: relative;
}
.driverform__images span {
    font-size: var(--font-headers);
    position: absolute;
    right: -3rem;
    color: var(--color-migro);
    font-weight: 700;
}
.form__groups {
    width: 100%;
}
.form__images {
    width: 100%;
}
.form__images img {
    width: 100%;
    height: 100%;
}
.driver__forminput {
    position: relative;
    margin: 1rem 0rem;
    width: 100%;
} 
.form__content {
    width: 100%;

}
.form__content h3 {
    color: var(--color-migro);
    font-size: var(--font-headers);
    font-weight: 400;
}
.driver__forminput .input{
      display: flex;
      position: relative;
}
.driver__forminput .input input {
    font-size: var(--font-small);
    width: 100%;
    border: 2px solid green;
    padding: 0.7rem 2rem;
    border: 1px solid var(--color-icon);
    position: relative;
    border-radius: 0.2rem;

}
.driver__forminput .input input::placeholder{
    color: var(--color-icon);
}

.driver__forminput span {
    position: absolute;
    font-size: 0rem;
    left: 0.5rem;
    top: 0.75rem;
} 
.driver__forminput span .iconsize {
     font-size: 1rem;
     color: var(--color-icon);
}
.driver__forminput button {
    padding: 0.7rem 1.8rem;
    border-radius: 0.3rem;
    color: var(--color-search);
    border: none;
    outline: none;
    background: var(--color-yellow);
    font-size: var(--font-small);
}
.driver__forminput span .iconsearch {
    font-size: 1.2rem;
    color: var(--color-nav);
}
small {
    font-size: var(--font-small);
    line-height: 1rem;
}
.div 
{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}
.div .register {
    border: 1px solid var(--color-reg);
    margin: 1.5rem 0rem;
    cursor: pointer;
    width: 30%;
    padding: 0.6rem 0rem;
    color: var(--color-reg);
    border-radius: 0.3rem;
    font-weight: 600;
    text-align: center;
}
.register .reg {
    color: var(--color-reg);
}
.div .register:hover {
    color: var(--color-white);
    background: var(--color-reg);
}
@media screen and (max-width: 480px) {
    .driverform__grid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0rem 2rem;
        gap: 0rem;
    }
    .driverform__images {
        display: none;
    }
    /* small {
        text-align: center;
        display: flex;
        justify-content: center;
    } */
    .div .register {
        border: 1px solid var(--color-reg);
        margin: 1.5rem 0rem;
        cursor: pointer;
        width: 100%
    }
    .driver__forminput button {
      width: 100%;
    }
    .driver__forminput .input__icons{
        position: absolute;
        font-size: 0rem;
        left: 33%;
        top: 0.75rem;
    } 
}
@media  (min-width: 481px) and  (max-width: 767px) {
    .driverform__grid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }
    .driverform__images {
        display: flex;
        align-items: center;
        position: relative;
    }
    .driverform__images span {
        position: absolute;
        top: 0rem;
        left: 3rem;
        color: var(--color-migro);
        font-weight: 700;
    }
    .form__group {
        padding: 0rem 1rem;
    }
    .form__images img {
        width: 100%;
        height: 15rem;
        object-fit: contain;

    }
    .div .register {
        width: 100%;
    }

}
@media  (min-width: 768px) and  (max-width: 991px) {
    .driverform__grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 5rem 5rem;
        gap: 0rem;
    }
    /* small {
        text-align: center;
        display: flex;
        justify-content: center;
    } */
    .register {
        width: 100%;
         align-items: center;
    }
    .driverform__images span {
        right: 0rem;
        color: var(--color-migro);
        font-weight: 700;
    }

}
@media  (min-width: 992px) and  (max-width: 1199px) {
    .driverform__grid {
        margin: 0rem 3rem;
    }
    .register {
        width: 50%;
    }
    .form__images img {
        width: 100%;
        height: 18rem;
        object-fit: cover

    }
    .div .register {
        width: 35%;
    }
    

}