.record__divs {
    width: 100%;
    height: calc(100vh - 4.4rem);

}
.record__divsAd {
    width: 100%;
    z-index: 15;
    height: calc(100vh - 6.5rem);
    position: relative;
    background-color: var(--color-yellow);

}
.record___divs {
    width: 100%;
    height: 100%;
    /* padding: 5rem 0rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user__error {
    font-size:(--font-small);
    color: var(--color-red);
}

.record__div {
    width: 80%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.3rem;
    justify-content: center;
}
.record__divAd {
    display: flex;
    flex-direction: column;
}
.record__header {
    font-size: var(--font-folds);
    margin-left: 2rem;
    line-height: 50px;
}
.h4 {
    font-size: var(--font-header);
    color: var(--color-migro);
    font-weight: 700;
}
.record__ad {
    width: 100%;
}
.record__location {
    width: 100%;    
    /* border: 2px solid red; */
}

.formdivs__record {
    display: flex;
    gap: 1rem;
    /* border: 2px solid yellow; */
    width: 100%;

}
.form__recorddivs {
    display: flex;
    flex-direction: column;
}
 .record__divInp {
    display: flex !important;
    background: var(--color-white);
    align-items: center;
    gap: 0.55rem;
    position: relative;
    border: 1px solid var(--color-icon);
    padding: 0rem 0.57rem;
    margin:  0.6rem 0rem;
    border-radius: 0.2rem;
   
}

.record__input {
    width: calc(100% - 0rem);
   
}
.record__input .ss {
    width: 100%;
}

.record__inputs .record__input input {
    font-size: var(--font-small);
    width: 100%;
    border: none;
    outline: none;
   
    position: relative;
    padding: 0.6rem 0rem;
  }
  .record__inputs span {
    position: absolute;
    font-size: 0rem;
    left: 0.5rem;
    top: 0.75rem;
  } 
  .record__inputs .iconsize {
    font-size: 1rem;
    color: var(--color-icon);
 }
 .record__inputs .iconloc {
    font-size: 1rem;
    color: var(--color-icon);
 }
 .record__btn button{
   
    padding: 0.7rem 1rem;
    color: var(--color-nav);
    font-weight: 500;
    border-radius: 0.3rem;
    margin: 1rem 0rem;
    border: none;
    background: var(--color-yellow);
    font-size: var(--font-small);
    outline: 0rem;
 }
 /* REGISTER */

 .register__btn{
    padding: 0.5rem ;
    text-align: center;
    border-radius: 0.3rem;
    width: 6rem;
    color: var(--color-reg);
    cursor: pointer;
    font-weight: 500;
    border: 1px solid var(--color-reg);
    outline: none;
    background: transparent;
    font-size: var(--font-small);

 }
 .register__btn:hover {
    background: var(--color-reg);
    color: var(--color-white);
 }

 /* ADS DIVS */
 .ad__divs {
    width: 100%;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .ad__div {
    display: flex;
    border-radius: 0.4rem;
    padding: 6rem;
    justify-content: flex-start;
    align-items: start ;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
 }
 .ads__content {
    font-size: var(--font-small);
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-family: var(--font-family);
 }
 .ad__div p {
    font-family: var(--font-family);
    font-size: var(--font-header);
    font-weight: 600;
    color: var(--color-yellow);
    margin: 0rem;
    padding: 0rem;
 }
 @media screen and (width: 280px) {
    .record__divs {
        padding: 0rem 0rem;
    }
    .h4 {
        margin-top:  6rem;
        
    }
    
    .record__div {
        padding: 4rem 0rem;
        border-radius: 0rem;
      
    }

 }

  @media screen and (max-width: 480px) {
    .record__divs {
        padding: 10rem 0rem;
    }
    .record__div {
        width: 100%;
        height: calc(100vh - 0rem) !important;
        padding: 3rem 0rem;
        border-radius: 0rem;
      
    }
    .form__recorddivs {
        padding: 2rem 1rem;
    }
    .formdivs__record {
        flex-direction: column;
        gap: 0rem;
    }
    .register{

        width: 5rem;
    
     }
     .record__input .ss {
        padding: 0rem 0rem;
    }
     .record__inputs .record__input input {
        padding: 0.55rem 0rem;
        position: relative;
      }
     .record__input input:placeholder {
        padding: 0rem 1rem;
      }
      .ad__div {
        display: flex;
        flex-direction: column;
        border-radius: 0.4rem;
        padding: 6rem 4rem;
     }
    
   
    
  }
 
@media  (min-width: 481px) and  (max-width: 768px) {
    .record__divs {
        padding: 6rem 0rem;
       
    }
    .record__div {
        width: 100%;
        padding: 3rem 0rem;
        border-radius: 0rem;
      
    }
    .form__recorddivs {
        padding: 0rem 2rem;
    }
    .formdivs__record {
        display: flex;
        flex-direction: column;
    }
    .ad__div {
        flex-direction: column;
        border-radius: 0.4rem;
        padding: 6rem 5rem;
     }
     .h4 {
        margin-top:  6rem;
        font-size: var(--font-header);
        color: var(--color-migro);
        font-weight: 700;
    }
    
   
}
@media  (min-width: 992px) and  (max-width: 1199px) {
    .record__divs {
        padding: 4rem 0rem;
    }
    /* .record___div {
        width: 100%;
        height: calc(100vh - 4.4rem);
    } */
    .formdivs__record {
        gap: 0.5rem;
    }
     .record__inputs .record__input input {
        padding: 0.55rem 0rem;
        position: relative;
      }
    
}
@media  (min-width: 1200px) and  (max-width: 1919px) {
    
  
    
}
@media (min-width: 1920px) 
{
    

}
