.tripform__div {
    margin: 4rem;
}
form {
    display: flex;
    gap: 1rem;
}

.form__input {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form__input .input {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
}
/* .form__input .input input {
    width: 100%;
    font-size: var(--font-small);
    padding: 0.7rem 2rem;
    border: 1px solid var(--color-icon);
    position: relative;
    border-radius: 0.2rem;
} */
/* .form__input .input input::placeholder{
    color: var(--color-icon);
} */
.form__input span {
    position: absolute;
    font-size: 0rem;
    left: 0.5rem;
    top: 0.8rem;
} 
.form__input span .iconsize {
     font-size: 1rem;
     color: var(--color-icon);
}
.form__input button {
    padding: 0.7rem 1.8rem;
    border-radius: 0.3rem;
    color: var(--color-search);
    border: none;
    outline: none;
    background: var(--color-yellow);
    font-size: var(--font-small);
}
.form__input .input .ss  {
    width: 100%;
}
.form__input .input .ss .select {
      outline: none;
      text-transform: capitalize;
      font-family: var(--font-family);
}
 
























.form__input span .iconsearch {
    font-size: 1rem;
    color: var(--color-nav);
}
.errors{
    display: flex;
    gap: 0; 
    line-height: 0rem;
    position: relative;
    font-size: var(--font-small);
    color: var(--color-orange);
    /* margin: 0.4rem 0rem; */
    /* background: var(--color-white); */
    /* box-shadow: var(--box-shadow); */
    /* padding: 0.6rem 0.8rem; */
    /* border: 0.1px solid var(--color-icon); */
    /* align-items: center; */
    /* line-height: 0rem; */
}
.error__icon {
    color: var(--color-orange);
}
@media screen and (max-width: 480px) {
    .tripform__div {
        margin: 2rem 2rem;
    }
    form {
        flex-direction: column;
    }
    /* .form__input {
        flex-direction: column;
        align-items: center;
        position: relative;
    } */
    .form__input .input {
        width: 100%;
        justify-content: center;
        position: relative;
  }
}


@media  (min-width: 481px) and  (max-width: 767px) {
    .tripform__div {
        margin: 2.5rem 2rem;
    }
    form {
        flex-direction: column;
    }
    .form__input .input {
        width: 100%;
        justify-content: center;
        position: relative;
  }
   
  
   

    
}
@media  (min-width: 768px) and  (max-width: 991px) {
  
}
 

   
    

@media  (min-width: 992px) and  (max-width: 1199px) {
   
}
@media  (min-width: 1200px) and  (max-width: 1919px) {
    
}
@media screen and  (min-width: 1920px) {
    

}