.tripform__div {
    margin: 4rem;
}
.tripform__div form{
    display: flex;
    gap: 1rem;
}

.form__input {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form__input .input {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
}
.form__input .input .display__loc {
    display: flex;
    border: 1px solid var(--color-icon);
    position: relative;
    border-radius: 0.2rem;
    background: var(--color-white);
    align-items: center;
}
.form__input .input .display__loc .color {
    color: var(--color-icon);
    position: relative;
    font-size: var(--font-small);
    margin-left: 0.5rem;
    left: 0rem;
}

.form__input span {
    position: absolute;
    font-size: 0rem;
    left: 0.5rem;
    top: 0.8rem;
} 
.form__input span .iconsize {
     font-size: 1rem;
     color: var(--color-icon);
}
.form__input button {
    padding: 0.7rem 1.8rem;
    border-radius: 0.3rem;
    color: var(--color-search);
    border: none;
    outline: none;
    background: var(--color-yellow);
    font-size: var(--font-small);
}
.form__input .input .ss  {
    width: 100%;
  
}
.form__input .input .ss .select {
      outline: none;
      text-transform: capitalize;
      font-family: var(--font-family);
}

.form__input span .iconsearch {
    font-size: 1rem;
    color: var(--color-nav);
}
.errors_trip{
    display: flex;
    gap: 0; 
    line-height: 0rem;
    margin-top: 0.7rem;
    position: relative;
    font-size: var(--font-smallz);
    color: var(--color-orange);
    align-items: center;
}
.errors{
    display: flex;
    gap: 0; 
    line-height: 0rem;
    margin: 0rem;
    position: relative;
    font-size: var(--font-smallz);
    color: var(--color-orange);
    align-items: center;
}
.error__icon {
    color: var(--color-orange);
    width: 1rem ;
}
@media screen and (max-width: 480px) {
    .tripform__div {
        margin: 2rem 2rem;
    }
    form {
        flex-direction: column;
    }
   
    .form__input .input {
        width: 100%;
        justify-content: center;
        position: relative;
  }
}


@media  (min-width: 481px) and  (max-width: 767px) {
    .tripform__div {
        margin: 2.5rem 2rem;
    }
    form {
        flex-direction: column;
    }
    .form__input .input {
        width: 100%;
        justify-content: center;
        position: relative;
  }
   
    
}
@media  (width: 280px)  {
    .tripform__div {
        margin: 2.5rem 1rem;
    }
    .errors{
        line-height: 1rem;
    }
    

}
@media  (min-width: 768px) and  (max-width: 991px) {
    .tripform__div {
        margin: 2.5rem 2rem;

       
    }
    form {
        flex-direction: column;
    }
  
}
 

   
    

@media  (min-width: 992px) and  (max-width: 1199px) {
    .tripform__div {
        margin: 2.5rem 2rem;

    }

   
}
@media  (min-width: 1200px) and  (max-width: 1919px) {
    
}
@media screen and  (min-width: 1920px) {
    

}