
.forgetPassWord__div {
    width: 100%;
    background: var(--color-yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fgtpassword__div{
    width: 20rem;
    padding: 0.3rem ;
    background: var(--color-white);
    border: none;
    border-radius: 0.2rem;
    outline: none;
   

}
.fgt__label {
    font-size: var(--font-logo);
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--color-nav);
    line-height: 1.9rem;
}
.fgtpassword__div input {
    width: 100%;
    padding: 0.4rem 0rem;
    border: none;
    outline: none;
}
.fgt__submit 
{
    outline: none;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    color: var(--color-nav);
    font-size: var(--font-logo);
    margin-top: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
}
@media screen and (width: 280px ) 
{
    .fgtpassword__div{
        width: 15rem;
    
       
    
    }
}
