:root {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
 }
 :root {
   --background1: rgba(183, 4, 133, 0.1);
   --font-family: 'Montserrat', sans-serif;
   --font-familys: 'Poppins', sans-serif;
   --font-fold: 21px;
   --font-smalleys: 20px;
   --font-smalley: 18px;
   --font-folds: 23px;
   --font-smallz: 9px;
   --font-smalls: 11px;
   --font-small: 16px;
   --font-book: 13px;
   --font-books: 12px;
   --font-nav: 1rem;
   --font-smallz: 13px;
   --detailBg: #E5E5E5;
   --font-logo: 15px;
   --font-logos: 17px;
   --font-header: 25px;
   --font-headers: 30px;
   --font-new: 40px;
   --font-news: 45px;
   --color-border: #14161a;
   --color-bg: rgb(246,246,246);
   --color-blackie: black;
   --color-nav: rgb(54,54,54);
   --color-chart:#FBFBFB;
  --color-header: rgb(72,63,54);
  --color-migro:rgb(175,139,235);
  --color-migrol: rgb(68,90,100);
   --color-black: #14161A;
   --color-icon: rgb(219,219,219);
   --color-zero: #000000;
   --color-truckBorder: rgb(255,250,235);
   --color-black2: #001E33;
   --color-whitish: rgb(238,238,238);
   --color-yellow: rgb(255,224,138);
   --color-orange: rgb(230,156,49);
   --color-white: white;
   --color-red: red;
   --color-inp: #EDECEC;
   --color-grey: #C1C1CB;
   --color-f7: #F5F7FB;
   --color-whites:#FAFAFA;
   --color-logo:#13e494;
   --color-reg: #3e8ed0;
   --color-purple: #4D5B9E;
   --color-dpurple: #D6DBF5;
   --color-mpurple:#293264;
   --color-logos: #127D60;
   --box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
   --box-shadows: 25px 24px 48px rgba(0, 0, 0, 0.04);
   --background: linear-gradient(150.15deg, rgba(193, 193, 203, 0.24) 0%, rgba(193, 193, 203, 0.06) 98.64%);
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
}
body {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: var(--font-familys);
  background: var(--color-bg);
}
h1,h2,h3,h4,h5,h6 {
    margin: 0rem;
    padding: 0rem;
} 
input {
  font-family: var(--font-family);
}
button {
  font-family: var(--font-family);
  cursor: pointer;
}
thead {
  padding: 0rem;
  margin: 0rem;
  border-collapse: collapse;
}
